/* CSS HEX 
 --ronchi: #edb257;
--kabul: #65523d;
--haiti: #0c142c;
--spicy-mix: #8c6c44;
--mirage: #1b1f34;
--shadow: #846c44;
--baltic-sea: #322f33;
--armadillo: #423c35;
--shark: #21242c;
--steel-gray: #1c1c2c;
*/

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background-color: #0f172f;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.input {
  width: 80px;
  height: 20px;
  border-radius: 10px;
  border: none;
}

.input::placeholder {
  color: #ffbe58;
  text-align: center;
}

.loginLeft {
  color: #ffbe58;
  font-size: 25px;
}
.loginRight {
  display: flex;
  gap: 10px;
}

.logo {
  width: 120px;
}

.size-6 {
  color: #ffbe58;
  height: ;
}
