/* CSS HEX 
 --ronchi: #edb257;
--kabul: #65523d;
--haiti: #0c142c;
--spicy-mix: #8c6c44;
--mirage: #1b1f34;
--shadow: #846c44;
--baltic-sea: #322f33;
--armadillo: #423c35;
--shark: #21242c;
--steel-gray: #1c1c2c;
*/

* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bodyIndex {
  background-image: linear-gradient(#0f172f, #322f33a1),
    url(img/etienne-martin-2_K82gx9Uk8-unsplash1.jpg);
  height: 100vh;
}
.bodyUserPage {
  background-image: linear-gradient(#0f172feb, #322f33a1);
  height: 100vh;
}

.high {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.input {
  width: 80px;
  height: 20px;
  border-radius: 10px;
  border: none;
  padding: 2px 8px;
}

.input::placeholder {
  color: #ffffffba;
  text-align: center;
  text-shadow: 0.3px 0.3px 0.3px #0f172fc3;
}

.loginLeft {
  color: #ffbe58;
  font-size: 25px;
  text-shadow: 2px 2px 2px #0f172fc3;
}
.loginRight {
  display: flex;
  gap: 10px;
  padding: 3px;
}

.logo {
  width: 120px;
}
.logoUserPage {
  width: 120px;
}

.buttonLogin {
  color: #edb257;
  transition: all 0.3s;
  width: 30px;
  height: 24px;
  /* text-shadow: 0.3px 0.3px 0.3px #0f172fc3; */
}

.buttonLogin:hover {
  cursor: pointer;
  background-color: #edb257;
  color: white;
  border: none;
  /* text-shadow: 0.3px 0.3px 0.3px #0f172fc3; */
}

.buttonLogin:active {
  /* text-shadow: 0.3px 0.3px 0.3px #0f172fc3; */
  transform: scale(0.9);
}

a {
  text-decoration: none;
  padding: 2px 8px;
}

a:visited,
a:active {
  padding: 2px 8px;
  text-decoration: none;
}
.buttonLogout {
  color: #edb257;
  transition: all 0.3s;
  width: 236px;
  height: 24px;
  border-radius: 10px;
  border: none;
  padding: 2px 8px;
}

.buttonLogout:hover {
  cursor: pointer;
  background-color: #edb257;
  color: white;
}

.buttonLogout:active {
  transform: scale(0.9);
}

.container {
  width: 70%;
}
